# cmake files
Makefile
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
# vim swap files
.*.swp
.*.swo
*~
# binary executable
main
# output files for debugging
prm_out.txt
grid_out.msh
# FRF output
sweep/
binary_op/
